<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Role Based Auth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    .navbar {
        background-color: #61df88;
    }
    .anchor{
        margin: 6px;
        background-color: #d9edf7;
        border-color: #d9edf7;
    }
    input, label {
        display:block;
    }
</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1>Role Based Authentication</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4> Hi, Welcome <span th:text="*{userDetails}"></span> </h4>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/logout}" class="btn anchor" style="margin-left:500px"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>

<div class="container">
    <h1>User Details</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through users and display details -->
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <form th:action="@{/adminScreen/users/__${user.id}__/delete}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
